<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        USER_ID: {{ user_id }}
    </div>
    <div id="left">
        <div id="message-container">
            <div class="message">
                <span>POSITION: </span>
                <span id="position">{{ message.position }}</span>
            </div>
            <div class="message">
                <span>ERROR1: </span>
                <span id="error1">{{ message.error1 }}</span>
            </div>
            <div class="message">
                <span>ERROR2: </span>
                <span id="error2">{{ message.error2 }}</span>
            </div>
        </div>

        <div id="big-image-container">
            <img id="big-image" src="{{ url_for('get_result_images', status='error', hash=hashs[0]) }}" alt="big-image" height="400px">
        </div>

    </div>
    <div id="right">

        <div id="status">
            <div class="image-status active" id="error"><span>error</span></div>
            <div class="image-status" id="ok"><span>ok</span></div>
        </div>

        <div id="small-image-container">
            {% for hash in hashs %}
            <img class="small-image" src="{{ url_for('get_result_images', status='error', hash=hash) }}" alt="small-image" height="200px">
            {% endfor %}
        </div>

        <div id="nav-container">
            {% for i in range(1, num_pages+1) %}
            <div class="nav">{{ i }}</div>
            {% endfor %}
        </div>

    </div>
    <script src="../static/j1.js"></script>
</body>
</html>