[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
redis = "*"
flask = "*"
flask-wtf = "*"
flask-uploads = "*"
python-dotenv = "*"
requests = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.11"
