{% extends 'base.html' %}

{% block title %}
<title>400 Error</title>
{% endblock title %}

{% block header %}
<header>
    <div id="logo-container">
        <a href="{{ url_for('interface.index') }}"><img id="logo" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="logo" height="50px" width="50px"></a>
    </div>
    <div id="title-container">
        <span>Photonical</span>
    </div>
</header>
{% endblock header %}

{% block main %}
    <h1 style="text-align: center;">400 Error</h1>
    <h2 style="text-align: center;">{{ description|default('Bad Request') }}</h2>
{% endblock main %}