<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block title %}

    {% endblock title %}

    {% block link %}

    {% endblock link %}
</head>

<body>
    {% block header %}

    {% endblock header %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
          <div class="flash-message">{{ message }}</div>
        {% endfor %}
    {% endif %}
  {% endwith %}
  
    {% block main %}

    {% endblock main %}

    {% block script %}

    {% endblock script %}
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>

</html>